<div class="container">

	<h1 class=" aboutHeader mt-5"><img src="/assets/images/icons/icon-48x48.png"> To Do Again List</h1>

	<h2 class="mt-5">What is it?</h2>
	<p>An app to catalogue likeable items based on a topic.</p>
	<p>Each item can have a 5-star rating, comments, and most importantly an indication of <em>would you do this again?</em></p>

	<div class="alert text-center mt-5 mb-5">
		<a routerLink="/" class="btnGetStated">Get Started &nbsp;<i class="fas fa-chevron-circle-right"></i></a>
	</div>

	<div class="row">
		<div class="col-12 col-md-4 text-center">
			<img src="/assets/images/to-do-again-list-screenshot.png" class="mt-3 rounded" alt="To Do Again List" />	
		</div>
		<div class="col-12 col-md-8">
			
			<h3 class="mt-5">Why use it?</h3>
			<p>Personally, I'm using it to track food/drinks at a restaurant (pizza toppings, ice cream flavors, etc.)</p>
			<p>But you can track anything: TV shows you like, wine brands to recommend, videogames to play again, etc.</p>

			<h3 class="mt-5">What's the catch?</h3>
			<p>Nothing; it's free! No e-mail registration either.</p>
			
		</div>
	</div>
	
	<div class="alert text-center">
		<a routerLink="/" class="btnGetStated">Get Started &nbsp;<i class="fas fa-chevron-circle-right"></i></a>
	</div>

</div>