<app-navigation [navTopicName]="navTopicName" [navTopicID]="navTopicID"></app-navigation>

<div class="container">

	<div *ngIf="item">
		
		<div>
			Name
			<input type="text" name="name" class="form-control" [(ngModel)]="item.name">
		</div>

		<div>
			Rating
			<input type="text" name="rating" class="form-control" [(ngModel)]="item.rating">
		</div>

		<div>
			Get Again?
			<input type="checkbox" name="getAgain" class="form-control" [(ngModel)]="item.getAgain">
		</div>

		<div>
			Comments
			<textarea class="form-control" name="comments" [(ngModel)]="item.comments" rows="3" cols="40"></textarea>
		</div>

		<div class="text-right mt-3">
			<button class="btn btn-success" 		(click)="itemAddUpdate(item)">Save</button>
			<button class="btn btn-primary ml-3" 	(click)="goToTopicHome();" 	*ngIf="!item.id">Cancel</button>
			<button class="btn btn-danger ml-3" 	(click)="itemDelete()" 		*ngIf="item.id > 0">Delete</button>
		</div>
		
	</div>

</div>