<app-navigation></app-navigation>

<div class="container mt-4" *ngIf="topicLoadError">
	<div class="alert alert-danger">
		{{topicLoadError}}
	</div>
</div>


<div class="container mt-4" *ngIf="topicLoadError == ''">

	<div *ngIf="alert && alert == 'itemDeleted'">
		<div class="alert alert-success mt-4">
			Item Deleted
		</div>
	</div>

	<div *ngIf="editable" class="text-center">
		<input type="text" name="topicName" class="form-control" [(ngModel)]="topicName">
		<button class="btn btn-primary full-if-mobile mt-2" (click)="topicUpdate()">Save Topic Name</button>
	</div>

	<div *ngIf="!editable">

		<div class="row">
			<div class="col">
				<h2>{{topicName}}</h2>
			</div>
			<div class="col-1">
				<button class="btn showOptions" (click)="showOptions = !showOptions;"><span class="fas fa-ellipsis-v"></span></button>
			</div>
		</div>

		<div class="row" *ngIf="showOptions">
			<div class="col">
				<button class="btn btn-warning" (click)="editable = true;"><span class="far fa-edit"></span> Change Topic Name</button>
				<button class="btn btn-danger ml-3" (click)="topicDelete()"><span class="far fa-trash-alt"></span>Delete Topic</button>
			</div>

		</div>

	</div>

	<button class="btn btn-primary add full-if-mobile" (click)="goToNewItem();">Add New Item</button>

	<div *ngIf="!allItems || allItems.length == 0">
		<div class="alert alert-warning mt-4">
			No items yet
		</div>
	</div>

	<div id="recent_items" *ngIf="recentItems && recentItems.length > 0">		
		<h3 class="mt-4">Recent Items</h3>
		
		<div class="card mb-4" *ngFor="let item of recentItems">
			<div class="card-body">
				<h5 class="card-title">{{item.name}}</h5>
				<h6 class="card-subtitle text-muted mt-2">Get Again? <strong>{{item.getAgain ? 'YES' : 'NO'}}</strong></h6>
				<div class="star-rating mt-3 mb-3">
					<span class="far fa-star" [ngClass]="{'fas': item.rating >= 1}"></span>
					<span class="far fa-star" [ngClass]="{'fas': item.rating >= 2}"></span>
					<span class="far fa-star" [ngClass]="{'fas': item.rating >= 3}"></span>
					<span class="far fa-star" [ngClass]="{'fas': item.rating >= 4}"></span>
					<span class="far fa-star" [ngClass]="{'fas': item.rating >= 5}"></span>
				</div>
				<p class="card-text preWrapWhiteSpace">{{item.comments}}</p>

				<div class="row">
					<div class="col">
						<a routerLink="/item/{{item.id}}" class="btn-sm btn-warning btn-outline-secondary">Edit</a>
					</div>
					<div class="col text-right">
						<p class="card-text"><small class="text-muted">{{item.dateUpdated | date}}</small></p>
					</div>
				</div>
			</div>
		</div>

	</div>


	<div id="all_items" *ngIf="allItems && allItems.length > 3">
		
		<div class="row mt-4">
			<div class="col col-6">
				<h3>All Items</h3>
			</div>
			<div class="col col-6">
				<input type="text" class="form-control" name="search" [(ngModel)]="searchText" placeholder="Search Items">	
			</div>
		</div>

		<div class="card mb-4" *ngFor="let item of allItems | filter: searchText">
			<div class="card-body">
				<h5 class="card-title">{{item.name}}</h5>
				<h6 class="card-subtitle text-muted mt-2">Get Again? <strong>{{item.getAgain ? 'YES' : 'NO'}}</strong></h6>
				<div class="star-rating mt-3 mb-3">
					<span class="far fa-star" [ngClass]="{'fas': item.rating >= 1}"></span>
					<span class="far fa-star" [ngClass]="{'fas': item.rating >= 2}"></span>
					<span class="far fa-star" [ngClass]="{'fas': item.rating >= 3}"></span>
					<span class="far fa-star" [ngClass]="{'fas': item.rating >= 4}"></span>
					<span class="far fa-star" [ngClass]="{'fas': item.rating >= 5}"></span>
				</div>
				<p class="card-text preWrapWhiteSpace">{{item.comments}}</p>

				<div class="row">
					<div class="col">
						<a routerLink="/item/{{item.id}}" class="btn-sm btn-warning btn-outline-secondary">Edit</a>
					</div>
					<div class="col text-right">
						<p class="card-text"><small class="text-muted">{{item.dateUpdated | date}}</small></p>
					</div>
				</div>
			</div>
		</div>



	</div>
</div>