<app-navigation></app-navigation>
<div class="container mt-4">

	<div *ngIf="alert && alert == 'topicDeleted'">
		<div class="alert alert-success mt-4">
			Topic deleted
		</div>
	</div>
		
	<h1>Topics</h1>
	<div class="row">
		<label class="required ml-2" *ngIf="showTopicError">Topic Name Required</label>
		<input type="text" class="form-control" name="topicName" [(ngModel)]="topic.name" placeholder="Enter your topic" (keyup.enter)="topicAdd()" appAutofocus>
		<input type="button" name="" class="btn btn-primary add mt-2" value="Add Topic" (click)="topicAdd()">
	
	</div>

	<div *ngIf="!allTopics || allTopics.length == 0">
		<div class="alert alert-warning mt-4">
			No topics yet
		</div>
	</div>

	<div id="recent_topics" *ngIf="recentTopics && recentTopics.length > 0">
		
		<h3 class="mt-4">Recent Topics</h3>
		<ul class="list-group">
			<li *ngFor="let row of recentTopics"
				class="list-group-item">
				<a routerLink="/topic/{{row.id}}">{{row.name}}</a>
			</li>
		</ul>

	</div>

	<div id="all_topics" *ngIf="allTopics && allTopics.length > 3">

		<div class="row mt-4 mb-4">
			<div class="col">
				<h3>All Topics</h3>			
				<input type="text" class="form-control search" name="search" [(ngModel)]="searchText" placeholder="Search Topics">	
			</div>
		</div>

		<ul class="list-group">
			<li *ngFor="let row of allTopics | filter: searchText"
				class="list-group-item">
				<a routerLink="/topic/{{row.id}}">{{row.name}}</a>
			</li>
		</ul>

	</div>

</div>